mat-grid-tile {
  //background: lightblue;
}
.titulo {
  font-size: 2.0em;
  color: blue;
}
.imagen {
  width: 220px;
  height: 180px;
}
.imagen1 {
  width: 130px;
  height: 110px;
}
.icono {
  width: 25px;
  height: 25px;
}
.divide {
  width: 1500px;
  height: 40px;
}
.misdatos {
  font-size: 1.6em;
  text-align: center;

}
.subtitulo {
  font-size: 1.6em;
  color: firebrick;
}

.perfil {
  font-size: 1.4em;

}
